spring:
  jackson:
    serialization:
      indentOutput: true

  main:
    bannerMode: 'off'

logging:
  config: classpath:logback.xml

issuer:
  repository:
    file: false
    mongo: false

  url: http://my-issuer-url

  facebook:
    id: <app-id>
    secret: <secret>
    callback: http://localhost:8080/facebook/callback
    scope: public_profile,email

  twitter:
    id: <app-id>
    secret: <secret>
    callback: http://localhost:8080/twitter/callback

  google:
    id: <app-id>
    secret: <secret>
    callback: http://localhost:8080/google/callback
    scope: email

  applications:
    demo0:
      audience: https://jwti.nmote.com
      secret: HS256:r3LG69+9J4dOT0AbG5bMwPLFVPGm19tnsWX2ia61ZPo=
      clients:
        postman:
          expires-in: 7200
          client-id: postman
          client-secret: ignored
          success: https://www.getpostman.com/oauth2/callback?code=[code]&state=[state]
        web:
          expires-in: 300
          client-id: demo
          client-secret: ignored
          success: http://localhost:8000/authorized#[token]
